<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mybatisGenerator.dao.BasBusinessInfoMapper" >
  <resultMap id="BaseResultMap" type="JavaBean.BasBusinessInfo" >
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
    <result column="cname_old" property="cnameOld" jdbcType="VARCHAR" />
    <result column="stock_code" property="stockCode" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="web" property="web" jdbcType="VARCHAR" />
    <result column="adress" property="adress" jdbcType="VARCHAR" />
    <result column="legal_persen" property="legalPersen" jdbcType="VARCHAR" />
    <result column="rcapital" property="rcapital" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="rtime" property="rtime" jdbcType="DATE" />
    <result column="industry" property="industry" jdbcType="VARCHAR" />
    <result column="rbnumber" property="rbnumber" jdbcType="VARCHAR" />
    <result column="enterprise_type" property="enterpriseType" jdbcType="VARCHAR" />
    <result column="ocode" property="ocode" jdbcType="VARCHAR" />
    <result column="operation_period" property="operationPeriod" jdbcType="VARCHAR" />
    <result column="rdepartment" property="rdepartment" jdbcType="VARCHAR" />
    <result column="approva_date" property="approvaDate" jdbcType="DATE" />
    <result column="uc_code" property="ucCode" jdbcType="VARCHAR" />
    <result column="radress" property="radress" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="JavaBean.BasBusinessInfo" extends="BaseResultMap" >
    <result column="bscope" property="bscope" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    uuid, cname, cname_old, stock_code, telephone, email, web, adress, legal_persen, 
    rcapital, state, rtime, industry, rbnumber, enterprise_type, ocode, operation_period, 
    rdepartment, approva_date, uc_code, radress, source, url
  </sql>
  <sql id="Blob_Column_List" >
    bscope
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="mybatisGenerator.Bean.BasBusinessInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from bas_business_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="mybatisGenerator.Bean.BasBusinessInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bas_business_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="mybatisGenerator.Bean.BasBusinessInfoExample" >
    delete from bas_business_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="JavaBean.BasBusinessInfo" >
    insert into bas_business_info (uuid, cname, cname_old, 
      stock_code, telephone, email, 
      web, adress, legal_persen, 
      rcapital, state, rtime, 
      industry, rbnumber, enterprise_type, 
      ocode, operation_period, rdepartment, 
      approva_date, uc_code, radress, 
      source, url, bscope
      )
    values (#{uuid,jdbcType=CHAR}, #{cname,jdbcType=VARCHAR}, #{cnameOld,jdbcType=VARCHAR}, 
      #{stockCode,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{web,jdbcType=VARCHAR}, #{adress,jdbcType=VARCHAR}, #{legalPersen,jdbcType=VARCHAR}, 
      #{rcapital,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT}, #{rtime,jdbcType=DATE}, 
      #{industry,jdbcType=VARCHAR}, #{rbnumber,jdbcType=VARCHAR}, #{enterpriseType,jdbcType=VARCHAR}, 
      #{ocode,jdbcType=VARCHAR}, #{operationPeriod,jdbcType=VARCHAR}, #{rdepartment,jdbcType=VARCHAR}, 
      #{approvaDate,jdbcType=DATE}, #{ucCode,jdbcType=VARCHAR}, #{radress,jdbcType=VARCHAR}, 
      #{source,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{bscope,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="JavaBean.BasBusinessInfo" >
    insert into bas_business_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="cname != null" >
        cname,
      </if>
      <if test="cnameOld != null" >
        cname_old,
      </if>
      <if test="stockCode != null" >
        stock_code,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="web != null" >
        web,
      </if>
      <if test="adress != null" >
        adress,
      </if>
      <if test="legalPersen != null" >
        legal_persen,
      </if>
      <if test="rcapital != null" >
        rcapital,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="rtime != null" >
        rtime,
      </if>
      <if test="industry != null" >
        industry,
      </if>
      <if test="rbnumber != null" >
        rbnumber,
      </if>
      <if test="enterpriseType != null" >
        enterprise_type,
      </if>
      <if test="ocode != null" >
        ocode,
      </if>
      <if test="operationPeriod != null" >
        operation_period,
      </if>
      <if test="rdepartment != null" >
        rdepartment,
      </if>
      <if test="approvaDate != null" >
        approva_date,
      </if>
      <if test="ucCode != null" >
        uc_code,
      </if>
      <if test="radress != null" >
        radress,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="bscope != null" >
        bscope,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="cnameOld != null" >
        #{cnameOld,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null" >
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="web != null" >
        #{web,jdbcType=VARCHAR},
      </if>
      <if test="adress != null" >
        #{adress,jdbcType=VARCHAR},
      </if>
      <if test="legalPersen != null" >
        #{legalPersen,jdbcType=VARCHAR},
      </if>
      <if test="rcapital != null" >
        #{rcapital,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="rtime != null" >
        #{rtime,jdbcType=DATE},
      </if>
      <if test="industry != null" >
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="rbnumber != null" >
        #{rbnumber,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseType != null" >
        #{enterpriseType,jdbcType=VARCHAR},
      </if>
      <if test="ocode != null" >
        #{ocode,jdbcType=VARCHAR},
      </if>
      <if test="operationPeriod != null" >
        #{operationPeriod,jdbcType=VARCHAR},
      </if>
      <if test="rdepartment != null" >
        #{rdepartment,jdbcType=VARCHAR},
      </if>
      <if test="approvaDate != null" >
        #{approvaDate,jdbcType=DATE},
      </if>
      <if test="ucCode != null" >
        #{ucCode,jdbcType=VARCHAR},
      </if>
      <if test="radress != null" >
        #{radress,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="bscope != null" >
        #{bscope,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="mybatisGenerator.Bean.BasBusinessInfoExample" resultType="java.lang.Integer" >
    select count(*) from bas_business_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bas_business_info
    <set >
      <if test="record.uuid != null" >
        uuid = #{record.uuid,jdbcType=CHAR},
      </if>
      <if test="record.cname != null" >
        cname = #{record.cname,jdbcType=VARCHAR},
      </if>
      <if test="record.cnameOld != null" >
        cname_old = #{record.cnameOld,jdbcType=VARCHAR},
      </if>
      <if test="record.stockCode != null" >
        stock_code = #{record.stockCode,jdbcType=VARCHAR},
      </if>
      <if test="record.telephone != null" >
        telephone = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.web != null" >
        web = #{record.web,jdbcType=VARCHAR},
      </if>
      <if test="record.adress != null" >
        adress = #{record.adress,jdbcType=VARCHAR},
      </if>
      <if test="record.legalPersen != null" >
        legal_persen = #{record.legalPersen,jdbcType=VARCHAR},
      </if>
      <if test="record.rcapital != null" >
        rcapital = #{record.rcapital,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=TINYINT},
      </if>
      <if test="record.rtime != null" >
        rtime = #{record.rtime,jdbcType=DATE},
      </if>
      <if test="record.industry != null" >
        industry = #{record.industry,jdbcType=VARCHAR},
      </if>
      <if test="record.rbnumber != null" >
        rbnumber = #{record.rbnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.enterpriseType != null" >
        enterprise_type = #{record.enterpriseType,jdbcType=VARCHAR},
      </if>
      <if test="record.ocode != null" >
        ocode = #{record.ocode,jdbcType=VARCHAR},
      </if>
      <if test="record.operationPeriod != null" >
        operation_period = #{record.operationPeriod,jdbcType=VARCHAR},
      </if>
      <if test="record.rdepartment != null" >
        rdepartment = #{record.rdepartment,jdbcType=VARCHAR},
      </if>
      <if test="record.approvaDate != null" >
        approva_date = #{record.approvaDate,jdbcType=DATE},
      </if>
      <if test="record.ucCode != null" >
        uc_code = #{record.ucCode,jdbcType=VARCHAR},
      </if>
      <if test="record.radress != null" >
        radress = #{record.radress,jdbcType=VARCHAR},
      </if>
      <if test="record.source != null" >
        source = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.bscope != null" >
        bscope = #{record.bscope,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update bas_business_info
    set uuid = #{record.uuid,jdbcType=CHAR},
      cname = #{record.cname,jdbcType=VARCHAR},
      cname_old = #{record.cnameOld,jdbcType=VARCHAR},
      stock_code = #{record.stockCode,jdbcType=VARCHAR},
      telephone = #{record.telephone,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      web = #{record.web,jdbcType=VARCHAR},
      adress = #{record.adress,jdbcType=VARCHAR},
      legal_persen = #{record.legalPersen,jdbcType=VARCHAR},
      rcapital = #{record.rcapital,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=TINYINT},
      rtime = #{record.rtime,jdbcType=DATE},
      industry = #{record.industry,jdbcType=VARCHAR},
      rbnumber = #{record.rbnumber,jdbcType=VARCHAR},
      enterprise_type = #{record.enterpriseType,jdbcType=VARCHAR},
      ocode = #{record.ocode,jdbcType=VARCHAR},
      operation_period = #{record.operationPeriod,jdbcType=VARCHAR},
      rdepartment = #{record.rdepartment,jdbcType=VARCHAR},
      approva_date = #{record.approvaDate,jdbcType=DATE},
      uc_code = #{record.ucCode,jdbcType=VARCHAR},
      radress = #{record.radress,jdbcType=VARCHAR},
      source = #{record.source,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      bscope = #{record.bscope,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bas_business_info
    set uuid = #{record.uuid,jdbcType=CHAR},
      cname = #{record.cname,jdbcType=VARCHAR},
      cname_old = #{record.cnameOld,jdbcType=VARCHAR},
      stock_code = #{record.stockCode,jdbcType=VARCHAR},
      telephone = #{record.telephone,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      web = #{record.web,jdbcType=VARCHAR},
      adress = #{record.adress,jdbcType=VARCHAR},
      legal_persen = #{record.legalPersen,jdbcType=VARCHAR},
      rcapital = #{record.rcapital,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=TINYINT},
      rtime = #{record.rtime,jdbcType=DATE},
      industry = #{record.industry,jdbcType=VARCHAR},
      rbnumber = #{record.rbnumber,jdbcType=VARCHAR},
      enterprise_type = #{record.enterpriseType,jdbcType=VARCHAR},
      ocode = #{record.ocode,jdbcType=VARCHAR},
      operation_period = #{record.operationPeriod,jdbcType=VARCHAR},
      rdepartment = #{record.rdepartment,jdbcType=VARCHAR},
      approva_date = #{record.approvaDate,jdbcType=DATE},
      uc_code = #{record.ucCode,jdbcType=VARCHAR},
      radress = #{record.radress,jdbcType=VARCHAR},
      source = #{record.source,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>