<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mybatisGenerator.dao.OrgEvaInfoMapper" >
  <resultMap id="BaseResultMap" type="mybatisGenerator.javaBean.OrgEvaInfo" >
    <result column="evaluator" property="evaluator" jdbcType="VARCHAR" />
    <result column="etype" property="etype" jdbcType="TINYINT" />
    <result column="evaluator_desc" property="evaluatorDesc" jdbcType="VARCHAR" />
    <result column="detail_id" property="detailId" jdbcType="BIGINT" />
    <result column="etime" property="etime" jdbcType="TIMESTAMP" />
    <result column="eplace" property="eplace" jdbcType="VARCHAR" />
    <result column="eback" property="eback" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    evaluator, etype, evaluator_desc, detail_id, etime, eplace, eback, start_time, uuid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="mybatisGenerator.javaBean.OrgEvaInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from org_eva_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="mybatisGenerator.javaBean.OrgEvaInfoExample" >
    delete from org_eva_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="mybatisGenerator.javaBean.OrgEvaInfo" >
    insert into org_eva_info (evaluator, etype, evaluator_desc, 
      detail_id, etime, eplace, 
      eback, start_time, uuid
      )
    values (#{evaluator,jdbcType=VARCHAR}, #{etype,jdbcType=TINYINT}, #{evaluatorDesc,jdbcType=VARCHAR}, 
      #{detailId,jdbcType=BIGINT}, #{etime,jdbcType=TIMESTAMP}, #{eplace,jdbcType=VARCHAR}, 
      #{eback,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{uuid,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="mybatisGenerator.javaBean.OrgEvaInfo" >
    insert into org_eva_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="evaluator != null" >
        evaluator,
      </if>
      <if test="etype != null" >
        etype,
      </if>
      <if test="evaluatorDesc != null" >
        evaluator_desc,
      </if>
      <if test="detailId != null" >
        detail_id,
      </if>
      <if test="etime != null" >
        etime,
      </if>
      <if test="eplace != null" >
        eplace,
      </if>
      <if test="eback != null" >
        eback,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="evaluator != null" >
        #{evaluator,jdbcType=VARCHAR},
      </if>
      <if test="etype != null" >
        #{etype,jdbcType=TINYINT},
      </if>
      <if test="evaluatorDesc != null" >
        #{evaluatorDesc,jdbcType=VARCHAR},
      </if>
      <if test="detailId != null" >
        #{detailId,jdbcType=BIGINT},
      </if>
      <if test="etime != null" >
        #{etime,jdbcType=TIMESTAMP},
      </if>
      <if test="eplace != null" >
        #{eplace,jdbcType=VARCHAR},
      </if>
      <if test="eback != null" >
        #{eback,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="mybatisGenerator.javaBean.OrgEvaInfoExample" resultType="java.lang.Integer" >
    select count(*) from org_eva_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update org_eva_info
    <set >
      <if test="record.evaluator != null" >
        evaluator = #{record.evaluator,jdbcType=VARCHAR},
      </if>
      <if test="record.etype != null" >
        etype = #{record.etype,jdbcType=TINYINT},
      </if>
      <if test="record.evaluatorDesc != null" >
        evaluator_desc = #{record.evaluatorDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.detailId != null" >
        detail_id = #{record.detailId,jdbcType=BIGINT},
      </if>
      <if test="record.etime != null" >
        etime = #{record.etime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.eplace != null" >
        eplace = #{record.eplace,jdbcType=VARCHAR},
      </if>
      <if test="record.eback != null" >
        eback = #{record.eback,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uuid != null" >
        uuid = #{record.uuid,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update org_eva_info
    set evaluator = #{record.evaluator,jdbcType=VARCHAR},
      etype = #{record.etype,jdbcType=TINYINT},
      evaluator_desc = #{record.evaluatorDesc,jdbcType=VARCHAR},
      detail_id = #{record.detailId,jdbcType=BIGINT},
      etime = #{record.etime,jdbcType=TIMESTAMP},
      eplace = #{record.eplace,jdbcType=VARCHAR},
      eback = #{record.eback,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      uuid = #{record.uuid,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>