<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mybatisGenerator.dao.PerCertificateInfoMapper" >
  <resultMap id="BaseResultMap" type="mybatisGenerator.javaBean.PerCertificateInfo" >
    <result column="ctype" property="ctype" jdbcType="VARCHAR" />
    <result column="cnum" property="cnum" jdbcType="VARCHAR" />
    <result column="issue_office" property="issueOffice" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="DATE" />
    <result column="expiry_date" property="expiryDate" jdbcType="DATE" />
    <result column="descr" property="descr" jdbcType="VARCHAR" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ctype, cnum, issue_office, start_date, expiry_date, descr, uuid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="mybatisGenerator.javaBean.PerCertificateInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from per_certificate_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="mybatisGenerator.javaBean.PerCertificateInfoExample" >
    delete from per_certificate_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="mybatisGenerator.javaBean.PerCertificateInfo" >
    insert into per_certificate_info (ctype, cnum, issue_office, 
      start_date, expiry_date, descr, 
      uuid)
    values (#{ctype,jdbcType=VARCHAR}, #{cnum,jdbcType=VARCHAR}, #{issueOffice,jdbcType=VARCHAR}, 
      #{startDate,jdbcType=DATE}, #{expiryDate,jdbcType=DATE}, #{descr,jdbcType=VARCHAR}, 
      #{uuid,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="mybatisGenerator.javaBean.PerCertificateInfo" >
    insert into per_certificate_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ctype != null" >
        ctype,
      </if>
      <if test="cnum != null" >
        cnum,
      </if>
      <if test="issueOffice != null" >
        issue_office,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="expiryDate != null" >
        expiry_date,
      </if>
      <if test="descr != null" >
        descr,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ctype != null" >
        #{ctype,jdbcType=VARCHAR},
      </if>
      <if test="cnum != null" >
        #{cnum,jdbcType=VARCHAR},
      </if>
      <if test="issueOffice != null" >
        #{issueOffice,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=DATE},
      </if>
      <if test="expiryDate != null" >
        #{expiryDate,jdbcType=DATE},
      </if>
      <if test="descr != null" >
        #{descr,jdbcType=VARCHAR},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="mybatisGenerator.javaBean.PerCertificateInfoExample" resultType="java.lang.Integer" >
    select count(*) from per_certificate_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update per_certificate_info
    <set >
      <if test="record.ctype != null" >
        ctype = #{record.ctype,jdbcType=VARCHAR},
      </if>
      <if test="record.cnum != null" >
        cnum = #{record.cnum,jdbcType=VARCHAR},
      </if>
      <if test="record.issueOffice != null" >
        issue_office = #{record.issueOffice,jdbcType=VARCHAR},
      </if>
      <if test="record.startDate != null" >
        start_date = #{record.startDate,jdbcType=DATE},
      </if>
      <if test="record.expiryDate != null" >
        expiry_date = #{record.expiryDate,jdbcType=DATE},
      </if>
      <if test="record.descr != null" >
        descr = #{record.descr,jdbcType=VARCHAR},
      </if>
      <if test="record.uuid != null" >
        uuid = #{record.uuid,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update per_certificate_info
    set ctype = #{record.ctype,jdbcType=VARCHAR},
      cnum = #{record.cnum,jdbcType=VARCHAR},
      issue_office = #{record.issueOffice,jdbcType=VARCHAR},
      start_date = #{record.startDate,jdbcType=DATE},
      expiry_date = #{record.expiryDate,jdbcType=DATE},
      descr = #{record.descr,jdbcType=VARCHAR},
      uuid = #{record.uuid,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>