<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mybatisGenerator.dao.PerProductMapper" >
  <resultMap id="BaseResultMap" type="mybatisGenerator.javaBean.PerProduct" >
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
    <result column="rtype" property="rtype" jdbcType="VARCHAR" />
    <result column="rgrade" property="rgrade" jdbcType="VARCHAR" />
    <result column="rp_desc" property="rpDesc" jdbcType="VARCHAR" />
    <result column="puuid" property="puuid" jdbcType="CHAR" />
    <result column="pr_uuid" property="prUuid" jdbcType="CHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    name, pname, rtype, rgrade, rp_desc, puuid, pr_uuid, source
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="mybatisGenerator.javaBean.PerProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from per_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="mybatisGenerator.javaBean.PerProductExample" >
    delete from per_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="mybatisGenerator.javaBean.PerProduct" >
    insert into per_product (name, pname, rtype, 
      rgrade, rp_desc, puuid, 
      pr_uuid, source)
    values (#{name,jdbcType=VARCHAR}, #{pname,jdbcType=VARCHAR}, #{rtype,jdbcType=VARCHAR}, 
      #{rgrade,jdbcType=VARCHAR}, #{rpDesc,jdbcType=VARCHAR}, #{puuid,jdbcType=CHAR}, 
      #{prUuid,jdbcType=CHAR}, #{source,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="mybatisGenerator.javaBean.PerProduct" >
    insert into per_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="pname != null" >
        pname,
      </if>
      <if test="rtype != null" >
        rtype,
      </if>
      <if test="rgrade != null" >
        rgrade,
      </if>
      <if test="rpDesc != null" >
        rp_desc,
      </if>
      <if test="puuid != null" >
        puuid,
      </if>
      <if test="prUuid != null" >
        pr_uuid,
      </if>
      <if test="source != null" >
        source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="rtype != null" >
        #{rtype,jdbcType=VARCHAR},
      </if>
      <if test="rgrade != null" >
        #{rgrade,jdbcType=VARCHAR},
      </if>
      <if test="rpDesc != null" >
        #{rpDesc,jdbcType=VARCHAR},
      </if>
      <if test="puuid != null" >
        #{puuid,jdbcType=CHAR},
      </if>
      <if test="prUuid != null" >
        #{prUuid,jdbcType=CHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="mybatisGenerator.javaBean.PerProductExample" resultType="java.lang.Integer" >
    select count(*) from per_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update per_product
    <set >
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.pname != null" >
        pname = #{record.pname,jdbcType=VARCHAR},
      </if>
      <if test="record.rtype != null" >
        rtype = #{record.rtype,jdbcType=VARCHAR},
      </if>
      <if test="record.rgrade != null" >
        rgrade = #{record.rgrade,jdbcType=VARCHAR},
      </if>
      <if test="record.rpDesc != null" >
        rp_desc = #{record.rpDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.puuid != null" >
        puuid = #{record.puuid,jdbcType=CHAR},
      </if>
      <if test="record.prUuid != null" >
        pr_uuid = #{record.prUuid,jdbcType=CHAR},
      </if>
      <if test="record.source != null" >
        source = #{record.source,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update per_product
    set name = #{record.name,jdbcType=VARCHAR},
      pname = #{record.pname,jdbcType=VARCHAR},
      rtype = #{record.rtype,jdbcType=VARCHAR},
      rgrade = #{record.rgrade,jdbcType=VARCHAR},
      rp_desc = #{record.rpDesc,jdbcType=VARCHAR},
      puuid = #{record.puuid,jdbcType=CHAR},
      pr_uuid = #{record.prUuid,jdbcType=CHAR},
      source = #{record.source,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>