<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mybatisGenerator.dao.PerPersonMapper" >
  <resultMap id="BaseResultMap" type="mybatisGenerator.javaBean.PerPerson" >
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="rname" property="rname" jdbcType="VARCHAR" />
    <result column="revent" property="revent" jdbcType="VARCHAR" />
    <result column="rtype" property="rtype" jdbcType="VARCHAR" />
    <result column="rgrade" property="rgrade" jdbcType="VARCHAR" />
    <result column="rg_desc" property="rgDesc" jdbcType="VARCHAR" />
    <result column="uuid1" property="uuid1" jdbcType="CHAR" />
    <result column="uuid2" property="uuid2" jdbcType="CHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    name, rname, revent, rtype, rgrade, rg_desc, uuid1, uuid2, source
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="mybatisGenerator.javaBean.PerPersonExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from per_person
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="mybatisGenerator.javaBean.PerPersonExample" >
    delete from per_person
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="mybatisGenerator.javaBean.PerPerson" >
    insert into per_person (name, rname, revent, 
      rtype, rgrade, rg_desc, 
      uuid1, uuid2, source)
    values (#{name,jdbcType=VARCHAR}, #{rname,jdbcType=VARCHAR}, #{revent,jdbcType=VARCHAR}, 
      #{rtype,jdbcType=VARCHAR}, #{rgrade,jdbcType=VARCHAR}, #{rgDesc,jdbcType=VARCHAR}, 
      #{uuid1,jdbcType=CHAR}, #{uuid2,jdbcType=CHAR}, #{source,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="mybatisGenerator.javaBean.PerPerson" >
    insert into per_person
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="rname != null" >
        rname,
      </if>
      <if test="revent != null" >
        revent,
      </if>
      <if test="rtype != null" >
        rtype,
      </if>
      <if test="rgrade != null" >
        rgrade,
      </if>
      <if test="rgDesc != null" >
        rg_desc,
      </if>
      <if test="uuid1 != null" >
        uuid1,
      </if>
      <if test="uuid2 != null" >
        uuid2,
      </if>
      <if test="source != null" >
        source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="rname != null" >
        #{rname,jdbcType=VARCHAR},
      </if>
      <if test="revent != null" >
        #{revent,jdbcType=VARCHAR},
      </if>
      <if test="rtype != null" >
        #{rtype,jdbcType=VARCHAR},
      </if>
      <if test="rgrade != null" >
        #{rgrade,jdbcType=VARCHAR},
      </if>
      <if test="rgDesc != null" >
        #{rgDesc,jdbcType=VARCHAR},
      </if>
      <if test="uuid1 != null" >
        #{uuid1,jdbcType=CHAR},
      </if>
      <if test="uuid2 != null" >
        #{uuid2,jdbcType=CHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="mybatisGenerator.javaBean.PerPersonExample" resultType="java.lang.Integer" >
    select count(*) from per_person
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update per_person
    <set >
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.rname != null" >
        rname = #{record.rname,jdbcType=VARCHAR},
      </if>
      <if test="record.revent != null" >
        revent = #{record.revent,jdbcType=VARCHAR},
      </if>
      <if test="record.rtype != null" >
        rtype = #{record.rtype,jdbcType=VARCHAR},
      </if>
      <if test="record.rgrade != null" >
        rgrade = #{record.rgrade,jdbcType=VARCHAR},
      </if>
      <if test="record.rgDesc != null" >
        rg_desc = #{record.rgDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.uuid1 != null" >
        uuid1 = #{record.uuid1,jdbcType=CHAR},
      </if>
      <if test="record.uuid2 != null" >
        uuid2 = #{record.uuid2,jdbcType=CHAR},
      </if>
      <if test="record.source != null" >
        source = #{record.source,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update per_person
    set name = #{record.name,jdbcType=VARCHAR},
      rname = #{record.rname,jdbcType=VARCHAR},
      revent = #{record.revent,jdbcType=VARCHAR},
      rtype = #{record.rtype,jdbcType=VARCHAR},
      rgrade = #{record.rgrade,jdbcType=VARCHAR},
      rg_desc = #{record.rgDesc,jdbcType=VARCHAR},
      uuid1 = #{record.uuid1,jdbcType=CHAR},
      uuid2 = #{record.uuid2,jdbcType=CHAR},
      source = #{record.source,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>