<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gintongame.mapping.BasBusinessInfoMapper">
    <insert id="insertBusiness" parameterType="JavaBean.BasBusinessInfo" useGeneratedKeys="true">
        insert into bas_business_info
        (bid,uuid,cname,cname_old,stock_type,stock_code,telephone,email,web,adress,legal_persen,rcapital,
        state,rtime,industry,rbnumber,enterprise_type,ocode,operation_period,rdepartment,approva_date,
        uc_code,radress,bscope,source,url)
        VALUES
        (#{bid},#{uuid},#{cname},#{cname_old},#{stock_type},#{stock_code},#{telephone},#{email},#{web},#{adress},
        #{legal_persen},#{rcapital},#{state},#{rtime},#{industry},#{rbnumber},#{enterprise_type},#{ocode},
        #{operation_period},#{rdepartment},#{approva_date},#{uc_code},#{radress},#{bscope},#{source},#{url})

    </insert>

    <select id="selectBusinessId" parameterType="java.lang.String" resultType="String">
        select id from bas_business_info where uuid=#{uuid}
    </select>

    <update id="updateBusiness" parameterType="JavaBean.BasBusinessInfo" >
        update bas_business_info set cname=#{cname},cname_old=#{cname_old},stock_type=#{stock_type},stock_code=#{stock_code},
        telephone=#{telephone},email=#{email},web=#{web},adress=#{adress},legal_persen= #{legal_persen},rcapital=#{rcapital},
        state=#{state},rtime=#{rtime},industry=#{industry},rbnumber=#{rbnumber},enterprise_type=#{enterprise_type},
        ocode=#{state},operation_period=#{operation_period},rdepartment=#{rdepartment},approva_date=#{approva_date},
        uc_code=#{uc_code},radress=#{radress},bscope=#{bscope},source=#{source},url=#{url}  where uuid=#{uuid}

    </update>

</mapper>