<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gintongame.mapping.BasKnowledgeInfoMapper">

    <!--  该insert函数只能插入bas_knowledge_info表  -->
    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" >
        insert into bas_knowledge_info(uuid,author,title,cover,tag,main,ptime,type,url,source)
        values
        <foreach collection="list" item="item" index="index" open="" close="" separator=",">
            (#{item.uuid},#{item.author},#{item.title},#{item.cover},#{item.tag},#{item.main},#{item.ptime},#{item.type},#{item.url},#{item.source})
        </foreach>

    </insert>

	<insert id="insert" parameterType="JavaBean.BasKnowledgeInfo" useGeneratedKeys="true" >
        insert into bas_knowledge_info(uuid,author,title,cover,tag,main,ptime,type,url,source)
        values
            (#{uuid},#{author},#{title},#{cover},#{tag},#{main},#{ptime},#{type},#{url},#{source})

    </insert>
	
    <select id="selectList" parameterType="JavaBean.DateInfo"  resultType="JavaBean.BasKnowledgeInfo">
        SELECT * FROM bas_knowledge_info WHERE ptime BETWEEN #{datepast} AND #{date}
    </select>

    <select id="selectBySource" parameterType="String" resultType="String">
        SELECT MAX(ptime) FROM bas_knowledge_info WHERE source=#{source}
    </select>
    <select id="selectByMain" parameterType="String" resultType="JavaBean.BasKnowledgeInfo">
        SELECT uuid,main,title FROM bas_knowledge_info WHERE main=#{main}
    </select>

    <select id="select" parameterType="JavaBean.BasKnowledgeInfo" resultType="JavaBean.BasKnowledgeInfo">
        SELECT * FROM  bas_knowledge_info
    </select>
    <select id="selectByID" parameterType="JavaBean.BasKnowledgeInfo" resultType="JavaBean.BasKnowledgeInfo">
         SELECT uuid,main,title FROM bas_knowledge_info WHERE uuid=#{uuid}
    </select>

    <select id="selectByTime" resultType="JavaBean.BasKnowledgeInfo">
        SELECT * FROM bas_knowledge_info WHERE DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= DATE(ctime)
    </select>
</mapper>