<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gintongame.mapping.ComInvestmentInfoMapper">
    <insert id="insertComInvestment" parameterType="JavaBean.ComInvestmentInfo" useGeneratedKeys="true">
      insert into com_investment_info
      (bid,uuid,oname,legal_persen,industry,state,investment,web)
      VALUES
      (#{bid},#{uuid},#{oname},#{legal_persen},#{industry},#{state},#{investment},#{web})
    </insert>

    <update id="updateComInvestment" parameterType="JavaBean.ComInvestmentInfo">
        update com_investment_info set legal_persen=#{legal_persen},industry=#{industry},state=#{state},investment=#{investment}
        ,web=#{web} where uuid=#{uuid} and oname=#{oname}
    </update>

    <select id="selectComInvestment" parameterType="java.lang.String" resultType="JavaBean.ComInvestmentInfo">
        select * from com_investment_info where uuid=#{uuid}
    </select>
</mapper>