<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gintongame.mapping.ComShareholderTeamMapper">
    <insert id="insertComShareholderTeam" parameterType="JavaBean.ComShareholderTeam" useGeneratedKeys="true">
        insert into com_shareholder_team
        (bid,uuid,oname,legal_persen,industry,state,investment,web,investment_rate,subscription_time)
        VALUES
        (#{bid},#{uuid},#{oname},#{legal_persen},#{industry},#{state},#{investment},#{web},#{investment_rate},#{subscription_time})
    </insert>

    <select id="selectComShareholderTeam" parameterType="java.lang.String" resultType="JavaBean.ComShareholderTeam">
         select * from com_shareholder_team where uuid=#{uuid}
    </select>

    <update id="updateComShareholderTeam" parameterType="JavaBean.ComShareholderTeam">
        update com_shareholder_team set legal_persen=#{legal_persen},industry=#{industry},state=#{state},investment=#{investment},
        investment_rate=#{investment_rate},subscription_time=#{subscription_time}
        ,web=#{web} where uuid=#{uuid} and oname=#{oname}
    </update>
</mapper>