<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gintongame.mapping.ComShareholderTeamMapper">
    <insert id="insertComShareholderTeam" parameterType="JavaBean.ComShareholderTeam" useGeneratedKeys="true">
        insert into com_shareholder_team
        (bid,uuid,oname,legal_persen,industry,state,investment,web)
        VALUES
        (#{bid},#{uuid},#{oname},#{legal_persen},#{industry},#{state},#{investment},#{web})
    </insert>
</mapper>