<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gintongame.mapping.PerKnowledgeMapper">

    <insert id="insertBatch" parameterType="java.util.ArrayList" useGeneratedKeys="true" >
        insert into per_knowledge(name,kname,rtype,rgrade,rp_desc,puuid,kuuid,source)
        values
        <foreach collection="list" item="item" index="index" open="" close="" separator=",">
            (#{item.name},#{item.kname},#{item.rtype},#{item.rgrade},#{item.rp_desc},#{item.puuid},#{item.kuuid},#{item.source})
        </foreach>

    </insert>

	<insert id="insert" parameterType="java.lang.String" useGeneratedKeys="true" >
        insert into per_knowledge(name,kname,rtype,rgrade,rp_desc,puuid,kuuid,source)
        values
            (#{name},#{kname},#{rtype},#{rgrade},#{rp_desc},#{puuid},#{kuuid},#{source})

    </insert>
	
	
        </mapper>