<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gintongame.mapping.PerOrganizeMapper">
    <insert id="insertPerOrgan" parameterType="JavaBean.PerOrganize" useGeneratedKeys="true">
        insert into per_organize
        (name,oname,org_desc,revent,rtype,rgrade,rg_desc,job,puuid,ouuid,source)
        VALUES
        (#{name},#{oname},#{orgDesc},#{revent},#{rtype},#{rgrade},#{rgDesc},#{job},#{puuid},#{ouuid},#{source})
    </insert>

    <select id="selectPerOrgan" parameterType="java.lang.String" resultType="JavaBean.PerOrganize">
        select * from per_organize where ouuid=#{ouuid}
    </select>

    <update id="updatePerOrgan" parameterType="JavaBean.PerOrganize">
        update per_organize set org_desc=#{org_desc},revent=#{revent},rtype=#{rtype},rgrade=#{rgrade},rg_desc=#{rg_desc},job=#{job},source=#{source}
        where ouuid=#{ouuid} and name=#{name}
    </update>
</mapper>