<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gintongame.mapping.ProKnowledgeMapper">

    <!--  该insert函数只能插入pro_knowledge表  -->
    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" >
        insert into pro_knowledge(uuid,author,title,cover,tag,main,ptime,type,url,source)
        values
        <foreach collection="list" item="item" index="index" open="" close="" separator=",">
            (#{item.uuid},#{item.author},#{item.title},#{item.cover},#{item.tag},#{item.main},#{item.ptime},#{item.type},#{item.url},#{item.source})
        </foreach>

    </insert>

    <select id="selectList" parameterType="java.lang.String"  resultType="String">
        SELECT main FROM pro_knowledge WHERE ptime BETWEEN #{date} AND DATE_SUB(#{date} , INTERVAL -5 DAY)
    </select>

</mapper>