<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gintongame.mapping.ProKnowledgeMapper">

	<insert id="insert" parameterType="JavaBean.ProKnowledge" useGeneratedKeys="true" >
        insert into pro_knowledge(pname,kname,rtype,rgrade,rp_desc,puuid,kuuid,source)
        values
            (#{pname},#{kname},#{rtype},#{rgrade},#{rp_desc},#{puuid},#{kuuid},#{source})
    </insert>
</mapper>